<footer class="">
    <div class="units-row small-container">
        <div class="footer-logo pull-left">
            <h1 class="brand"><a href="/" title="Fluker's Cricket Farm">Fluker's Cricket Farm</a></h1>
            <nav class="footer-social">
                {{> components/common/social-links}}
            </nav>
        </div>
        <div class="unit-25 footer-div footer-subscribe">
            {{#if settings.show_newsletter_box}}
            <h3>Get Updates</h3>
            <p>Submit your email address to receive special offers.</p>
            <form class="form" action="{{urls.subscribe.action}}" method="post">
                <input type="hidden" name="action" value="subscribe">
                <input type="hidden" name="nl_first_name" value="bc">
                <input type="hidden" name="check" value="1">
                <div class="forms forms-inline">
                    <input type="email" id="nl_email" name="nl_email"  value="{{customer.email}}">
                    <button type="submit" class="btn btn-green">Submit</button>
                </div>
            </form>
            {{/if}}
        </div>
        <div class="border-left unit-33 footer-div">
            <h3>Get In Touch</h3>
            <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Fluker Farms Customer Care<br> P.O. Box 530<br>
                Port Allen, LA 70767-4087</p>
            <p><a itemprop="telephone" data-query="phone" href="tel://225-343-7035">Phone (225) 343-7035</a><br><a itemprop="telephone" data-query="phone" href="tel:+1800-735-8537">Toll Free (800) 735-8537</a><br> <a itemprop="faxNumber" data-query="phone" href="/">Fax: (225) 336-0671</a></p>
        </div>
    </div>
    <div class="">
        <ul>
            <li><a href="https://flukers.thinkx.net" title=""></a> </li>
        </ul>

        <div itemscope="" itemtype="http://schema.org/Organization">
        </div>
    </div>


    <div id="bottom-footer" class="text-center">
        <p class="uppercase"><a href="/privacy-policy">Privacy Policy</a> | <a href="/contact-us">Contact Us</a> | <a href="/shipping-returns">Shipping Information</a></p>
        <p>© Fluker's Cricket Farm - <em>Raising and selling live crickets since 1953</em></p>
    </div>
</footer>