<header>
    <div class="container">
        <h1 class="brand">
            <a href="/">{{settings.store_name}}</a>
        </h1>
        <div class="facebooke-link-button pull-left">
            <div class="fb-like" data-href="https://flukerfarms.com" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="mobile-header pull-right ">
            <div class="border-right header-search inline-block">
                <form action="{{urls.search}}">
                    <label for="" class="input-groups">
                        <input type="text" name="search_query" placeholder="" maxlength="100">
                        <span class="btn-append"><button class="btn btn-gray">Go</button></span>
                    </label>
                </form>
            </div>
            <div class="mobile-account border-right inline-block">
                <aside class="units-row header-padding" id="account-header">

                    <div class="pull-right text-right">

                        {{#if customer}}
                            <h3><a href="">My Account</a></h3>
                            <p class="small">
                                <a href="{{urls.account.index}}" id="sign-in">{{lang 'common.account'}}</a>
                                /
                                <a href="{{urls.auth.logout}}" id="register">{{lang 'common.logout'}}</a>
                            </p>
                        {{else}}
                            <h3>My Account</h3>
                            <p class="small">
                                <a href="{{urls.auth.login}}" id="sign-in">{{lang 'common.login'}}</a>
                                /
                                {{#if settings.account_creation_enabled}}
                                    <a href="{{urls.auth.create_account}}" id="register">{{lang 'common.sign_up'}}</a>
                                {{/if}}
                            </p>
                        {{/if}}

                    </div>
                </aside>
            </div>
            <div class="mobile-cart inline-block">
                <a href="{{urls.cart}}">
                    <i class="icon icon-shopping-cart"></i>
                    <span class="item-count countPill countPill--positive cart-quantity">{{cart.quantity}}</span>
                </a>
                <span id="cart-items-notification" 0="" class="has-items"></span>
            </div>

            <nav class="header-social inline-block">
                {{> components/common/social-links}}
            </nav>
        </div>
        <div class="units-row">
            <div class="unit-30 forms border-right desktop-hidden">
                <form action="{{urls.search}}">
                    <label for="" class="input-groups">
                        <input type="text" name="search_query" placeholder="" maxlength="100">
                        <span class="btn-append"><button class="btn btn-gray">Go</button></span>
                    </label>
                </form>
            </div>

        </div>
    </div>

</header>

<div class="mobile-side-nav desktop-hidden">
    <ul>
        <li>
            <a href="/crickets-live-feeder-insects/" class="live-insects" title="Buy Live Insects">
                <span class="interior-hidden">Buy Live Insects</span>
                <i class="icomoon-crickets"></i>
            </a>
        </li>
        <li>
            <a href="/who-we-are" class="who-we-are" title="Who We Are">
                <span class="interior-hidden">Who We Are</span>
                <i class="icon icon-group"></i>
            </a>
        </li>
        <li>
            <a href="/reptile-u/store-support" class="reptile-u" title="Reptile-U">
                <span class="interior-hidden">Reptile-U</span>
                <i class="icomoon-reptile-u"></i>
            </a>
        </li>
        <li>
            <a href="/categories" class="products" title="Products">
                <span class="interior-hidden">Products</span>
                <i class="icomoon-store"></i>
            </a>
        </li>
        <li>
            <a href="/contact-us" class="contact" title="Contact Us">
                <span class="interior-hidden">Contact Us</span>
                <i class="icon icon-envelope"></i>
            </a>
        </li>
    </ul>
</div>
