{{#if social_media}}
    <ul>
        {{#each social_media}}
            <li class="socialLinks-item">
            {{#if display_name '===' 'google+'}}
                <a href="{{url}}" target="_blank"><i class="icon icon-google-plus-square"></i></a>
            {{else}}
                {{#if display_name '===' 'instagram'}}
                    <a href="{{url}}" target="_blank"><i class="icon icon-{{display_name}}"></i></a>
                {{else}}
                    <a href="{{url}}" target="_blank"><i class="icon icon-{{display_name}}-square"></i></a>
                {{/if}}
            {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}
