<nav class="pull-left home" id="side-nav">
    <ul>
        <li>
            <a href="/crickets-live-feeder-insects/" class="live-insects" title="Buy Live Insects">
                <span class="interior-hidden">Buy Live Insects</span>
                <i class="icomoon-crickets"></i>
            </a>
        </li>
        <li>
            <a href="/who-we-are" class="who-we-are" title="Who We Are">
                <span class="interior-hidden">Who We Are</span>
                <i class="icon icon-group"></i>
            </a>
        </li>
        <li>
            <a href="/reptile-u/blog" class="reptile-u" title="Reptile-U">
                <span class="interior-hidden">Reptile-U</span>
                <i class="icomoon-reptile-u"></i>
            </a>
        </li>
        <li>
            <a href="/categories" class="products" title="Products">
                <span class="interior-hidden">Products</span>
                <i class="icomoon-store"></i>
            </a>
        </li>
        <li>
            <a href="/contact-us" class="contact" title="Contact Us">
                <span class="interior-hidden">Contact Us</span>
                <i class="icon icon-envelope"></i>
            </a>
        </li>
    </ul>
</nav>
