<section id="home-top" class="group">

    <nav class="pull-left home" id="side-nav">
        <ul>
            <li>
                <a href="/crickets-live-feeder-insects/" class="live-insects" title="Buy Live Insects">
                    <span class="interior-hidden">Buy Live Insects</span>
                    <i class="icomoon-crickets"></i>
                </a>
            </li>
            <li>
                <a href="/who-we-are" class="who-we-are" title="Who We Are">
                    <span class="interior-hidden">Who We Are</span>
                    <i class="icon icon-group"></i>
                </a>
            </li>
            <li>
                <a href="/reptile-u" class="reptile-u" title="Reptile-U">
                    <span class="interior-hidden">Reptile-U</span>
                    <i class="icomoon-reptile-u"></i>
                </a>
            </li>
            <li>
                <a href="/categories" class="products" title="Products">
                    <span class="interior-hidden">Products</span>
                    <i class="icomoon-store"></i>
                </a>
            </li>
            <li>
                <a href="/contact-us" class="contact" title="Contact Us">
                    <span class="interior-hidden">Contact Us</span>
                    <i class="icon icon-envelope"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div id="carousel" class="pull-left slick">

        <div>
            <aside>
                <h1>Hold at Fedex!</h1>
                <p>Did you know you can request a package to be held at a local FedEx location for pickup? Check out our FAQ for more shipping related questions.</p>
                <a href="/reptile-u/knowledge-base/faq/" class="btn btn-green">FAQ</a>
            </aside>
        </div>

        <div>
            <aside>
                <h1>Live Crickets</h1>
                <p>Crickets are our specialty, (it's in our name!) so order online today.</p>
                <a href="/cricket-farm-live-crickets-delivered-to-your-home" class="btn btn-green">Live Crickets</a>
            </aside>
        </div>

        <div>
            <aside>
                <h1>Winter Shipping Schedule</h1>
                <p>The odds of your insects arriving alive drops dramatically when the temperature at the regional FedEx shipping hub in either (Memphis, TN) or your location, drops to 15 degrees or below. </p>
                <a href="/reptile-u/knowledge-base/winter-shipping-schedule/" class="btn btn-green">Check our shipping schedule</a>
            </aside>
        </div>

    </div>

</section>