---
blog:
    recent_posts:
        limit: 100
        pages: 3
        summary: 200
---
{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

<main>
    <h1 class="text-center">Welcome to </h1>
    <nav id="section-top-nav">
        <ul id="">
            <li class="first"><a href="/reptile-u/library/">Library</a></li>
            <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Resources</a></li>
            <li><a href="/reptile-u/newsletter/" target="_blank">Newsletters</a></li>
            <li class="here last"><a href="/reptile-u/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="textured-background units-row small-container container-padding">

        <article class="unit-70">
            {{> components/blog/post post=blog.post show_tags=true}}
        </article>

        <aside class="unit-30">
            <h3 class="underlined-headlines">Recent Posts</h3>
            <nav id="blog-side-nav">
                <ul>
                    {{#each (limit blog.recent_posts 30)}}
                    <li><a href="{{url}}">{{title}}</a></li>
                    {{/each}}

                </ul>
            </nav>

        </aside>

    </div>

</main>



{{/partial}}
{{> layout/base}}
