
{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

<main>
    <h1 class="text-center">Welcome to </h1>
    <nav id="section-top-nav">
        <ul id="">
            <li class="first"><a href="/reptile-u/library/">Library</a></li>
            <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Resources</a></li>
            <li><a href="/reptile-u/newsletter/" target="_blank">Newsletters</a></li>
            <li class="here last"><a href="/reptile-u/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="textured-background units-row small-container container-padding">

        {{> components/blog/post post=blog.post show_tags=true}}

    </div>
</main>


{{/partial}}
{{> layout/base}}
