---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---

{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

<main>
    <h1 class="text-center"><img src="{{cdn 'img/reptileU.gif'}}" width="400"></h1>
    <nav id="section-top-nav">
        <ul id="">
            <li class="first"><a href="/reptile-u/library/">Library</a></li>
            <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Resources</a></li>
            <li><a href="/reptile-u/newsletter/" target="_blank">Newsletters</a></li>
            <li class="here last"><a href="/reptile-u/blog/">Blog</a></li>
            <!--<li class="here first"><a href="/reptile-u/blog/">Blog</a></li>-->
            <!--<li><a href="/reptile-u/care-sheets/">Care Sheets</a></li>-->
            <!--<li><a href="/reptile-u/knowledge-base/">Knowledge-Base</a></li>-->
            <!--<li><a href="/reptile-u/store-support/">Video Library</a></li>-->
            <!--<li class="last"><a href="/reptile-u/newsletters/">Newsletters</a></li>-->
        </ul>
    </nav>
    <div class="textured-background units-row small-container container-padding">

        {{#each blog.posts}}
        <article class="unit-100">
            {{#if thumbnail.data }}
                <div class="unit-20">
                    <img src="{{getImage thumbnail 'blog_size'}}" alt="" style="min-height: 70px;">
                    <br/>
                    <!--<figure class="width-100" align="center">-->


                    <!--<img src="{{getImage thumbnail 'blog_size'}}" alt="" style="width: auto;">-->

                    <!--</figure>-->
                </div>
                <div class="unit-80">
                    <h2 class="headlines smaller"><a href="{{url}}">{{title}}</a></h2>
                    <p class="details">Posted {{date_published}} by {{author}}</p>
                    <!--<ul id="social-share">-->
                    <!--<li id="facebook-share"><i class="icon icon-facebook-square"></i></li>-->
                    <!--<li id="twitter-share"><i class="icon icon-twitter-square"></i></li>-->
                    <!--<li id="linkedin-share"><i class="icon icon-linkedin-square"></i></li>-->
                    <!--<li id="google-share"><i class="icon icon-google-plus-square"></i></li>-->
                    <!--</ul>-->
                    <p>{{summary}} ...</p>
                    <a href="{{url}}" class="btn btn-blue">Read more <i class="icon icon-angle-double-right"></i></a>
                </div>

                <div style="clear: both;"></div>
            {{else}}
                <div class="unit-100">
                    <h2 class="headlines smaller"><a href="{{url}}">{{title}}</a></h2>
                    <p class="details">Posted {{date_published}} by {{author}}</p>
                    <!--<ul id="social-share">-->
                    <!--<li id="facebook-share"><i class="icon icon-facebook-square"></i></li>-->
                    <!--<li id="twitter-share"><i class="icon icon-twitter-square"></i></li>-->
                    <!--<li id="linkedin-share"><i class="icon icon-linkedin-square"></i></li>-->
                    <!--<li id="google-share"><i class="icon icon-google-plus-square"></i></li>-->
                    <!--</ul>-->
                    <p>{{summary}} ...</p>
                    <a href="{{url}}" class="btn btn-blue">Read more <i class="icon icon-angle-double-right"></i></a>
                </div>

                <div style="clear: both;"></div>
            {{/if}}
        </article>
        {{/each}}
        <div style="clear: both;"></div>

        {{> components/common/paginator pagination.blog}}

    </div>
</main>

{{/partial}}
{{> layout/base}}
