
{{#partial "hero"}}
    {{> components/common/top-with-menu-home}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}
    <section id="home-callouts">
        <article class="textured-background small-container">
            <div class="units-row">


                <aside class="unit-33 bottom-box-shadow">
                    <a href="/reptile-u/knowledge-base/faq/" class="home-callouts">
                        <figure>
                            <img src="/assets/img/FAQ-Graphic.jpg" alt="FAQ Reminder">
                        </figure>
                        <p>Questions or concerns? Check out our FAQ page for any questions you might have.</p>
                        <span class="btn btn-green">Learn More</span>
                    </a>
                </aside>

                <aside class="unit-33 bottom-box-shadow">
                    <a href="/reptile-u/knowledge-base/preparing-for-winter/" class="home-callouts">
                        <figure>
                            <img src="/assets/img/Spring-is-Back-Graphic.jpg" alt="Preparing for Winter">
                        </figure>
                        <p>Make sure you have all of the supplies your reptiles and insects need to get through winter. View our checklist to find out how to keep your cold blooded pals warm!</p>
                        <span class="btn btn-green">Winter Checklist</span>
                    </a>
                </aside>

                <aside class="unit-33 bottom-box-shadow">
                    <a href="/reptile-u/care-sheets/reptile-care-sheets/" class="home-callouts">
                        <figure>
                            <img src="/assets/img/Care-Sheets.jpg" alt="Care Sheets">
                        </figure>
                        <p>Got a new reptile for Christmas? Take a look at our care sheets to learn what you need!</p>
                        <span class="btn btn-green">Reptile Care Sheets</span>
                    </a>
                </aside>


            </div>
        </article>
    </section>
    <div class="spacer"></div>
    <section id="home-liveinsects">
        <article class="units-row small-container">

            <h2 class="text-center">Buy Live Insects</h2>

            <ul id="buy-live-insects" class="blocks-4 relative">


                <li>
                    <a href="https://flukers.thinkx.net/products/live-insects/live-crickets" class="bottom-box-shadow">
                        <i class="icomoon-crickets"></i>
                        <h3>Crickets</h3>
                    </a>
                </li>

                <li>
                    <a href="https://flukers.thinkx.net/products/live-insects/superworms" class="bottom-box-shadow">
                        <i class="icomoon-superworms"></i>
                        <h3>Superworms</h3>
                    </a>
                </li>

                <li>
                    <a href="https://flukers.thinkx.net/products/live-insects/mealworms" class="bottom-box-shadow">
                        <i class="icomoon-mealworms"></i>
                        <h3>Mealworms</h3>
                    </a>
                </li>

                <li>
                    <a href="https://flukers.thinkx.net/products/live-insects/hissing-cokcroaches" class="bottom-box-shadow">
                        <i class="icomoon-hissing-cockroaches"></i>
                        <h3>Hissing Cockroaches</h3>
                    </a>
                </li>


            </ul>
            <div id="green-banner" class="units-row units-split">
                <a href="https://flukers.thinkx.net/products" class="unit-50 btn btn-green border-right">
                    <i class="icomoon-feeder-supplies"></i>
                    <span>Feeder Supplies &amp; More</span>
                </a>
                <a href="https://flukers.thinkx.net/recurring-orders" class="unit-50 btn btn-green">
                    <i class="icon icon-refresh"></i>
                    <span>Live Insect Recurring Orders</span>
                </a>
            </div>

        </article>
    </section>
{{/partial}}
{{> layout/base}}
