{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

<main>
    <nav id="category-toggle" class="small-container text-right">
        <a href="/categories" id="view-all"><i class="icon icon-bars"></i> View All Categories</a>

    </nav>
    <article class="textured-background small-container container-padding">

        <h1>{{page.title}}</h1>

        <hr>

        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            {{{page.content}}}
        {{/replace}}

    </article>
</main>

{{/partial}}

{{> layout/base}}
