---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

{{{snippet 'search'}}}

<main>
    <nav id="category-toggle" class="small-container text-right">
        <a href="/categories" id="view-all"><i class="icon icon-bars"></i> View All Categories</a>

    </nav>
    <article class="textured-background small-container container-padding">
        <div id="product-listing-container" {{#if forms.search.section '!=' 'product'}}class="u-hiddenVisually"{{/if}}>
            {{> components/search/product-listing}}
        </div>
    </article>
</main>



{{/partial}}
{{> layout/base}}
