<nav id="section-top-nav">
    <ul>
        {{#if account_page '===' 'orders'}}
            <li class="first here">
                <a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
            </li>
        {{else}}
            <li class="first">
                <a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
            </li>
        {{/if}}
        {{#if settings.returns_enabled}}
            {{#if account_page '===' 'returns'}}
                <li class="here">
                    <a class="" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                </li>
            {{else}}
                <li class="">
                    <a class="" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if account_page '===' 'messages'}}
            <li class="here">
                <a class="" href="{{urls.account.inbox}}">{{lang 'account.nav.messages' num_new_messages=customer.num_new_messages}}</a>
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="" href="{{urls.account.inbox}}">{{lang 'account.nav.messages' num_new_messages=customer.num_new_messages}}</a>
            </li>
        {{/if}}
        {{#if account_page '===' 'addresses'}}
            <li class="here">
                <a class="" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
            </li>
        {{/if}}
        {{#if settings.show_wishlist}}
            {{#if account_page '===' 'wishlists'}}
                <li class="here">
                    <a class="" href="{{urls.account.wishlists.all}}">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</a>
                </li>
            {{else}}
                <li class="navBar-item">
                    <a class="" href="{{urls.account.wishlists.all}}">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</a>
                </li>
            {{/if}}
        {{/if}}
        {{#if account_page '===' 'recent_items'}}
            <li class="here">
                <a class="" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
            </li>
        {{/if}}
        {{#if account_page '===' 'settings'}}
            <li class="here">
                <a class="" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
            </li>
        {{else}}
            <li class="navBar-item">
                <a class="" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
            </li>
        {{/if}}
    </ul>
</nav>
