{{#partial "hero"}}
{{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}
<main>
    <article class="textured-background small-container container-padding">
        {{> components/account/navigation account_page='recent_items'}}
        <h1 class="page-heading">{{lang 'account.recent_items.heading' }}</h1>

        <div class="account">

            {{#unless customer.recently_viewed_products.items}}
            {{> components/common/alert-info (lang 'account.recent_items.no_items')}}
            {{/unless}}

            <form action="{{urls.compare}}" method="post">
                {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare}}
            </form>
        </div>
    </article>
</main>

{{/partial}}
{{> layout/base}}
