{{#partial "hero"}}
{{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}
<main>
    <article class="textured-background small-container container-padding">
        {{> components/account/navigation account_page='wishlists'}}
        <h1 class="page-heading">{{lang 'account.wishlists.heading' }}</h1>

        {{#if settings.show_wishlist}}
        <div class="account account--fixedLarge">
            {{> components/account/wishlist-list}}
        </div>
        {{/if}}
    </article>
</main>

{{/partial}}
{{> layout/base}}
