<div class="input-groups width-100" id="sticky-cta" style="position: relative; top: auto; left: auto; width: 559px;">
    <button class="desktop-hidden mobile-checkout-button btn btn-blue width-50 " value="/shopping/view-cart" name="return">Update</button>
    <button class="desktop-hidden mobile-checkout-button btn btn-green width-50 " value="/shopping/checkout" name="return">Checkout</button>
</div>
{{#each cart.items}}
<aside class="cart-items" data-item-row>
    <div class="units-row">
        <figure class="unit-33 cart-item-pic">
            {{#if type '==' 'GiftCertificate'}}
            <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
            {{else}}
            <img src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            {{/if}}
        </figure>
        <div class="unit-66 cart-item-info">
            <div class="units-row end cart-header cart-list">
                <div class="unit-66">
                    <h3 class="headlines">{{name}}</h3>
                    {{#if options}}
                    <dl class="definitionList">
                        {{#each options}}
                        <dt class="definitionList-key">{{name}}:</dt>
                        <dd class="definitionList-value">
                            {{#if is_file}}
                            <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                            {{else}}
                            {{{value}}}
                            {{/if}}
                        </dd>
                        {{/each}}
                    </dl>
                    {{/if}}
                </div>

                <div class="unit-33 push-right group">
                    <span class="pull-right">
                        <div class="form-increment">
                            {{# if can_modify}}
                                <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                    <i class="icon icon-minus"></i>
                                </button>
                            {{/if}}
                            <input class="form-input form-input--incrementTotal"
                                   id="qty-{{id}}"
                                   name="qty-{{id}}"
                                   type="tel"
                                   value="{{quantity}}"
                                   data-quantity-min="{{min_purchase_quantity}}"
                                   data-quantity-max="{{max_purchase_quantity}}"
                                   data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                   data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                   min="1"
                                   pattern="[0-9]*"
                                   aria-live="polite"{{#unless can_modify}} disabled{{/unless}} readonly>
                            {{# if can_modify}}
                                <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                    <i class="icon icon-plus"></i>
                                </button>
                            {{/if}}
                        </div>
                    </span>
                </div>

            </div>
            <div class="cart-intro-copy">
                <p>{{name}}</p>
            </div>
            <div class="group">
                <div class="pull-left">
                    <p class="price-total">
                        {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                            <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                            {{#if total_discounted}}
                                <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                            {{/if}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </p>

                    <p><em class="small">(Including Tax)</em></p>
                </div>
                <div class="pull-right text-right">
                    {{# if can_modify}}
                        <a class="cart-remove icon cart-delete" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            Remove from Cart
                        </a>
                    {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                            <a class="cart-remove icon cart-delete" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                Remove from Cart
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</aside>
{{/each}}