<div class="dform_element dform_text_input dftop_label" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}}>
    <label class="dform_label" for="{{id}}_input">{{label}}
        {{#if required}}
            <span class="req">*</span>
        {{/if}}
    </label>
    <div class="dform_container">
        <input type="password"  class="text" id="{{id}}_input" data-label="{{label}}" name="{{name}}" value="{{value}}" autocomplete="off" aria-required="{{required}}" {{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
    </div>
</div>
