<div class="dform_element dform_select dftop_label" id="{{id}}" data-validation="{{validation}}" {{#if private_id}}data-type="{{private_id}}"{{/if}} >
    <label class="dform_label" for="{{id}}_select">{{label}}
        {{#if required}}<span class="req">*</span>{{/if}}
    </label>
    <div class="dform_container">
        <select class="{{class}} form-select" id="{{id}}_select" data-label="{{label}}" aria-required="{{required}}" name="{{name}}"{{#if private_id}}data-field-type="{{private_id}}"{{/if}}>
            {{#if options}}
                <option value="">{{chooseprefix}}</option>
                {{#each options}}
                    <option {{#if selected}} selected {{/if}}value="{{value}}">{{label}}</option>
                {{/each}}
            {{/if}}
        </select>
    </div>
</div>
