{{#partial "hero"}}
{{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}
<main>


    <nav id="section-top-nav"></nav>

    <div class="textured-background units-row small-container container-padding">
        <article class="unit-70">
            <h1 class="page-heading">{{lang 'create_account.created.heading'}}</h1>
            <p>{{{lang 'create_account.created.intro' store_name=settings.store_name email=customer.email}}}</p>
            <a class="button button--primary bold" href="{{create_account.continue_url}}">{{lang 'create_account.created.continue'}}</a>

        </article>
        <aside class="unit-30">
            <h3 class="underlined-headlines">Quick Links</h3>
            <nav id="blog-side-nav" class="main">
                <ul>
                    <li><a href="/categories">Our Products</a></li>

                    <li><a href="/reptile-u">Welcome To Reptile U</a></li>

                    <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Aids</a></li>

                    <li><a href="/castle-crib">Castle Crib</a></li>

                </ul>
            </nav>
        </aside>
    </div>
</main>

{{/partial}}
{{> layout/base}}
