{{inject 'passwordRequirements' settings.password_requirements}}

{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}

<main>


    <nav id="section-top-nav"></nav>

    <div class="textured-background units-row small-container container-padding">
        <article class="unit-70">
            <h1 class="page-heading">PLEASE REGISTER</h1>
            {{#if forms.create_account.error}}
                {{> components/common/alert-error forms.create_account.error}}
            {{/if}}

            <form action="{{urls.auth.save_new_account}}" data-create-account-form method="post" class="form">

                <div class="dform">
                    <div class="dform_element dform_fieldset dftop_label " id="forms_field_1" style="">
                        <div class="dform_container">
                            <fieldset>
                                <legend></legend>
                                <div class="dfcolumns">
                                    <div class="column column-last sortable noborder" data-number="1" style="width:99%;">
                                        {{#each forms.create_account.account_fields }}
                                            {{{dynamicComponent 'components/common/forms'}}}
                                        {{/each}}
                                        {{#each forms.create_account.address_fields }}
                                            {{{dynamicComponent 'components/common/forms'}}}
                                        {{/each}}
                                        {{inject 'required' (lang 'common.required')}}
                                        {{inject 'state_error' (lang 'errors.state_error')}}

                                    </div>
                                    <br clear="all">
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="dform_element submit_button">
                        <div class="dform_container">
                            <div class="dfinput_full">
                                <input type="submit" class="submit" name="submit_button" value="{{lang 'forms.create_account.submit_value' }}" data-value="{{lang 'forms.create_account.submit_value' }}" data-wait="Verifying...">
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </article>
        <aside class="unit-30">
            <h3 class="underlined-headlines">Quick Links</h3>
            <nav id="blog-side-nav" class="main">
                <ul>
                    <li><a href="/categories">Our Products</a></li>

                    <li><a href="/reptile-u">Welcome To Reptile U</a></li>

                    <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Aids</a></li>

                    <li><a href="/castle-crib">Castle Crib</a></li>

                </ul>
            </nav>
        </aside>
    </div>
</main>
{{/partial}}
{{> layout/base}}
