{{#partial "hero"}}
    {{> components/common/top-with-menu-interior}}
{{/partial}}

{{#partial "page"}}
    <main>


        <nav id="section-top-nav"></nav>

        <div class="textured-background units-row small-container container-padding">
            <article class="unit-70">
                <h1 class="page-heading">{{lang 'reset_password.heading' }}</h1>
                <p>{{lang 'reset_password.intro' }}</p>
                {{#if forms.forgot_password.error}}
                    {{> components/common/alert-error forms.forgot_password.error}}
                {{/if}}

                <form action="{{urls.auth.send_password_email}}" class="form forgot-password-form" method="post">

                    <div class="dform">
                        <div class="dform_element dform_fieldset dftop_label " id="forms_field_1" style="">
                            <div class="dform_container">
                                <fieldset>
                                    <legend></legend>
                                    <div class="dfcolumns">
                                        <div class="column column-last sortable noborder" data-number="1" style="width:99%;">
                                            <div class="dform_element dform_text_input dftop_label dform_required" id="forms_field_2" style="">
                                                <label class="dform_label" for="email">{{lang 'common.email_address'}} <span class="req">*</span></label>
                                                <div class="dform_container">
                                                    <input class="text required validate[required]" required="required" name="email" id="email" type="email" formnovalidate>
                                                </div>
                                            </div>
                                        </div>
                                        <br clear="all">
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="dform_element submit_button">
                            <div class="dform_container">
                                <div class="dfinput_full">
                                    <input type="submit" class="submit" value="{{lang 'reset_password.heading' }}">
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </article>
            <aside class="unit-30">
                <h3 class="underlined-headlines">Quick Links</h3>
                <nav id="blog-side-nav" class="main">
                    <ul>
                        <li><a href="/categories">Our Products</a></li>

                        <li><a href="/reptile-u">Welcome To Reptile U</a></li>

                        <li><a href="/reptile-u/knowledge-base/teaching-aids">Teaching Aids</a></li>

                        <li><a href="/castle-crib">Castle Crib</a></li>

                    </ul>
                </nav>
            </aside>
        </div>
    </main>

{{/partial}}
{{> layout/base}}
