<!--<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content&#45;&#45;empty{{/unless}}">-->
    <!--<h1 class="heroCarousel-title">{{{heading}}}</h1>-->
    <!--<p class="heroCarousel-description">{{{text}}}</p>-->
    <!--{{#if button_text}}-->
        <!--<span class="heroCarousel-action button button&#45;&#45;primary button&#45;&#45;large">{{button_text}}</span>-->
    <!--{{/if}}-->
<!--</div>-->
<!--<div>-->
<aside>
    <h1>{{heading}}</h1>
    <p>{{{text}}}</p>
    <a href="{{url}}" class="btn btn-green">{{button_text}}</a>
</aside>

