<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script src="{{cdn '/assets/js/bundle.js'}}"></script>
        <script src="{{cdn '../vendor/jquery3.1.1.min.js'}}"></script>
        <script src="{{cdn '../vendor/slick.min.js'}}"></script>
        <script src="//use.typekit.net/rub4hbp.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script>
            // Exported in app.js
            window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
//            $(document).ready(function(){
//                console.log('carousel');
//                // ==========================
//                /* Slick */
//                // ==========================
//                console.log($('#carousel'));
//                $('#carousel').slick({
//                    arrows:false,
//                    autoplay:true,
//                    autoplaySpeed:4000
//                });
//
//                console.log('carousel1');
//
//            })
        </script>
        {{#if page_type '==' 'page_contact_form'}}
        <div class="live-chat-button">
            <script type="text/javascript">
                (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.async=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document,
                        'https://chat.ladesk.com/scripts/track.js',
                        function(e){ LiveAgent.createButton('b9088a1d', e); });
            </script>
        </div>
        {{/if}}
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
