<nav id="breadcrumb-nav" class="breadcrumbs">
    <ul>
        <li><a href="{{product.url}}"><i class="icon icon-angle-left"></i> Back </a></li>
    </ul>
</nav>

<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{>components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{>components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <article class="units-row" id="store-packages">
        <figure class="unit-30 bottom-box-shadow purchasable-pic">
            <img itemprop="image" src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}" alt="{{product.main_image.alt}}">
        </figure>
        <div class="unit-70 purchasable-info forms">
            <div class="border-bottom units-row">
                <div class="mobile-purchasable-pic hide">
                    <figure class="">

                        <img itemprop="image" src="{{getImage product.main_image 'product_size' (cdn theme_settings.default_image_product)}}" alt="{{product.main_image.alt}}">

                    </figure>
                </div>
                <div class="mobile-headline">
                    <div class="unit-70 purchasable-title">
                        <h1 itemprop="name">{{product.title}}</h1>

                        <div class="productView-rating"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                            <div id="star-ratings">
                                <input type="hidden" id="ratingValue" value="{{product.rating}}">
                                <i class="icon rating-toggle icon-star"></i>
                                <i class="icon rating-toggle icon-star"></i>
                                <i class="icon rating-toggle icon-star"></i>
                                <i class="icon rating-toggle icon-star-half-o"></i>
                                <i class="icon rating-toggle icon-star-o"></i>
                                {{#if settings.show_product_rating}}
                                <span class="productView-reviewLink">
                                    {{#if product.num_reviews '>' 0}}
                                        <a href="{{product.url}}#product-reviews">
                                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                        </a>
                                    {{else}}
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    {{/if}}
                                </span>
                                {{/if}}
                                {{#if settings.show_product_reviews}}
                                <span class="productView-reviewLink">
                                    <a href="{{product.url}}{{#if is_ajax}}#writeReview{{/if}}"
                                       {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                                       {{lang 'products.reviews.new'}}
                                    </a>
                                </span>
                                {{> components/products/modals/writeReview}}
                                {{/if}}
                            </div>

                        </div>
                    </div>
                    <div class="unit-30 text-right purchasable-social">
                        <nav class="inline-block">
                            <ul class="social-share">
                                <li><a href="#" id="facebook-share"><i class="icon icon-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/intent/tweet?text={{product.title}}&amp;via={{product.brand.name}}&amp;url={{product.url}}" id="twitter-share"><i class="icon icon-twitter-square"></i></a></li>
                                <li><a href="#" id="linkedin-share"><i class="icon icon-linkedin-square"></i></a></li>
                                <li><a href="#" id="google-share"><i class="icon icon-google-plus-square"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="product-intro-copy">
                <div itemprop="description" class="share-copy">
                    <p>{{{product.title}}}</p>
                    <div class="fb-like" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>

            </div>

            <div class="product-info-price">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=product.price schema_org=schema}}
                {{else}}
                {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
            <br />

            <section class="productView-details">
                <div class="productView-options">
                    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                          data-cart-item-add>
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="product_id" value="{{product.id}}"/>

                        <div data-product-option-change style="display:none;">
                            {{#each product.options}}
                                {{{dynamicComponent 'components/products/options'}}}
                            {{/each}}
                        </div>

                        <!--<div class="form-field form-field&#45;&#45;stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">-->
                            <!--<label class="form-label form-label&#45;&#45;alternate">-->
                                <!--{{lang 'products.current_stock'}}-->
                                <!--<span data-product-stock>{{product.stock_level}}</span>-->
                            <!--</label>-->

                        <!--</div>-->

                        {{#if product.can_purchase}}

                            <div class="form-field form-field--increments">
                                <div class="form-increment" data-quantity-change>
                                    <button class="button button--icon" data-action="dec">
                                        <i class="icon icon-minus"></i>
                                    </button>
                                    <input class="form-input form-input--incrementTotal"
                                           id="qty[]"
                                           name="qty[]"
                                           type="tel"
                                           value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                                           data-quantity-min="{{product.min_purchase_quantity}}"
                                           data-quantity-max="{{product.max_purchase_quantity}}"
                                           min="1"
                                           pattern="[0-9]*"
                                           aria-live="polite">
                                    <button class="button button--icon" data-action="inc">
                                        <i class="icon icon-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="alertBox productAttributes-message" style="display:none">
                                <div class="alertBox-column alertBox-icon">
                                    <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                                </div>
                                <p class="alertBox-column alertBox-message"></p>
                            </div>
                            <br/>
                            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                <div class="form-action">
                                    <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="btn btn-green add-to-cart phone-input-group" type="submit"
                                           value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}" onclick="return checkRecurringOrder();">
                                    <a href="{{urls.cart}}" class="btn btn-blue view-cart-button phone-input-group"><i class="icon icon-shopping-cart"></i>View Cart</a>
                                </div>
                                {{{snippet 'product_addtocart'}}}
                            {{/or}}
                        {{else}}
                            <p class=""><strong>Where to purchase</strong></p>

                            <a class="external-store-link inline-block" href="https://www.google.com/search?client=opera&amp;q={{product.title}}&amp;sourceid=opera&amp;ie=UTF-8&amp;oe=UTF-8#tbm=shop&amp;q=Fluker+Farms+{{product.title}}+" target="_blank">
                                <img src="{{cdn 'img/google-logo.png'}}" alt="Find this product on Google.">
                            </a>
                        {{/if}}
                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                {{>components/common/alert-error product.out_of_stock_message}}
                            {{else}}
                                {{>components/common/alert-error (lang 'products.sold_out')}}
                            {{/if}}
                        {{/if}}

                    </form>

                    {{#if settings.show_wishlist}}
                        <!--<form class="form" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>-->
                            <!--<div class="form-action">-->
                                <!--<input type="hidden" name="variation_id" value="">-->
                                <!--<input class="button" type="submit" value="{{lang 'account.wishlists.add_item'}}">-->
                            <!--</div>-->
                        <!--</form>-->
                    {{/if}}
                </div>

                {{{snippet 'product_details'}}}
            </section>

        </div>
    </article>

</div>

<div id="previewModal" class="modal modal--large" data-reveal style="display: none;">
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

<script>
    var recurringOptions = ['Weekly Recurring', 'Bi-Weekly Recurring', 'Monthly Recurring'];
    function checkRecurringOrder(){
        var options = document.getElementsByTagName('option');
        if (options){
            for(var i=0; i<options.length; i++){
                if (options[i].selected && recurringOptions.indexOf(options[i].textContent.trim()) != -1){
                    console.log('recurring order');
                    alert('When placing an order for a recurring product, only one item can be ordered at a time. To complete checkout, please remove all items except your recurring item. If you wish to order more than 1 item for a recurring order, please call 800-343-7035. Thank you');
                    break;
                }
            };
        };
    };
</script>
